* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #f5deb385;
    letter-spacing: 10px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    padding: 20px 0;
}

h1 {
    font-size: 65px;

}

.wrapper > h2 {
    font-size: 45px;
    margin: 20px 0;
}

article {
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.slideRebus {
    background: purple;
    font-size: 30px;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.slideRebus:hover {
    cursor: pointer;
}

#rules {
    font-size: 25px;
    color: black;
    padding: 20px;
background: rgb(141, 0, 201);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.taskProgres {
position: fixed;
top: 40vh;
left: 1vw;
padding: 2.5vh;
}

.taskProgres p {
text-align: center;
font-size: 40px;
margin-bottom: 10px;

}

#start {
    background-color: blueviolet;
    color: white;
    width: 250px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 5px, 0;
}

#start:hover {
    cursor: pointer;
}

.answer {
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#inputTask {
    flex-grow: 1;
    font-size: 35px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid black;
}

#inputTask:focus{
outline: none;
}

#btnTask {
    flex-grow: 1;
    font-size: 35px;
    background: red;
    color:white;
    border: none;
    border-bottom: 1px solid black;
}

#nextTask {
    position: fixed;
    right: 2vw;
    bottom: 45vh;
    width: 250px;
    height: 10vh;
    font-size: 40px;
    background: rgba(203, 119, 255, 0.402);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}




